.row {
  justify-content: center;
}

.containerRoot {
  padding-top: 7rem;
  background-color: #a5a1b4;
  background-color: #a5a1b4;
  background-image: url("../../assets/img/LoginBG.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}
